# Python cache
__pycache__/
*.pyc
*.pyo
*.pytest_cache/

# Virtual environment
.venv/

# Local models (VERY IMPORTANT for your case)
LLM/

# Dataset chunks
json/

# Database & logs
backend/nexa_ai.db
backend/logs/
*.log

# Git / system files
.git/
.gitignore

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db